* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;

}

input {
    width: 200px;
    
}

.name {
    margin-top: 20px;
}